[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
pypdf = "*"
pymongo = "*"
tiktoken = "*"
langchain-community = "*"
sentence-transformers = "*"
websockets = "*"
langserve = {extras = ["server"] }
more-itertools = "*"
langchainhub = "*"
llama-cpp-python = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
bandit = "*"
pre-commit = "*"
autoflake = "*"
fpdf = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
