[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
pypdf = "*"
pymongo = "*"
tiktoken = "*"
langchain-community = "*"
sentence-transformers = "*"
fastapi = "*"
websockets = "*"
cmake = "*"
scikit-build = "*"
setuptools = "*"
uvicorn = "*"
sse-starlette = "*"
pydantic-settings = "*"
starlette-context = "*"
langserve = {extras = ["server"], version = "*"}
more-itertools = "*"
langchainhub = "*"
llama-cpp-python = "*"

[dev-packages]
black = "*"
flake8 = "*"
bandit = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
