[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
pypdf = "*"
pymongo = "*"
tiktoken = "*"
langchain-community = "*"
sentence-transformers = "*"
fastapi = "*"
llama-cpp-python = "*"
websockets = "*"

[dev-packages]
black = "*"
flake8 = "*"
bandit = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
